<% unless friend_list.blank? %>
<h3>My Friends</h3>
<p>
	<b>Friends</b>
	<ul>
	<% for friend in @user.friends %>
	<li><%= link_to friend.name, user_path(friend) %></li>
	<% end %>
	</ul>
</p>
<% end %>